<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>TODOs</title>
    <link rel="shortcut icon" href="http://www.iconj.com/ico/f/8/f88v7jzah6.ico" type="image/x-icon">
    <meta name="description" content="gimme the todos">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
