<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = google.visualization.arrayToDataTable(
      [
        ['TODOs', 'Total', 'New', 'Done', 'Retired'],
        {% for i in entries %}
          [
            "{{i.todos_date}}",
            {{ i.tot_on_day }},
            {{ i.new }},
            {{ i.done }},
            -{{ i.retired }}
          ],
        {% endfor %}
      ]
    );

    var options = {
      title: 'How to do goes',
      curveType: 'function',
      legend: { position: 'right' },
    };

    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

    chart.draw(data, options);
  }
  </script>

  <div id="curve_chart"></div>
  <a href="/todocounter">todocounter</a>

<!-- https://developers.google.com/chart/interactive/docs/gallery/linechart>