{% extends "base.html" %}
{% block content %}
<h1> How many things do I wanna do?</h1>
<p class="todo">{{total}}</p>
<form method="post" action="/todocounter">
  <table>
    <tr>
      <td>New:</td>
      <td><input name="new" type="number" value=0 required></td>
    </tr>
    <tr>
      <td>Done:</td>
      <td><input name="done" type="number" value=0 required></td>
    </tr>
    <tr>
      <td>Retired:</td>
      <td><input name="retired" type="number" value=0 required></td>
    </tr>
    <tr>
      <td>Date:</td>
      <td><input name="date" type="date" value="{{today}}"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit"></td>
    </tr>
  </table>
</form>

<p>Today added {{new}}, done {{done}}, retired {{retired}}</p>
<h2>Great life!</h2>
<a href="/chart">chart</a>
{% endblock %}
